@page
@model NewEmploymentSystem.Pages.Level5.IndexModel
@{
    ViewData["Title"] = "مرحله ثبت مهارت ها";
}

<partial name="_Steps" model="@ViewData["Level"]" />

<script>
    localStorage.removeItem("gd1");
</script>

<form class="contact3-form validate-form" method="post">
    <span class="contact3-form-title">
        <i class="fa fa-2x fa fa-cogs"></i>
        <br />
        مرحله ثبت مهارت ها
    </span>

    @if (Model.tblUserSkill.Any())
    {
        <span>مهارت های اضافه شده(@(Model.tblUserSkill.Count())):</span>
        <ul class="list-group">
            @foreach (var item in Model.tblUserSkill)
            {
                <li class="list-group-item">@item.SkillTitle</li>
            }
        </ul>
    }


<div class="container-contact3-form-btn">
    @if (Model.tblUserSkill.Any())
    {
        <a class="contact3-form-btn" asp-page="AddSkills">افزودن مهرت جدید</a>
        <div class="container-contact3-form-btn">
            <button type="submit" class="contact3-form-btn">
                مهارت دیگری ندارم
            </button>
        </div>
    }
    else
    {
        <a class="contact3-form-btn" asp-page="AddSkills">افزودن مهارت</a>
        <div class="container-contact3-form-btn">
            <button type="submit" class="contact3-form-btn">
                مهارتی ندارم
            </button>
        </div>
    }
</div>

</form>

