@model int
@{
}

    <div style="text-align:center;">
        <span class="step">1</span>
        <span class="step">2</span>
        <span class="step">3</span>
        <span class="step">4</span>
        <span class="step">5</span>
        <span class="step">6</span>
        <span class="step">7</span>
        <span class="step">8</span>
        <span class="step">9</span>
        <span class="step">10</span>
        <span class="step">11</span>
        <span class="step">12</span>
        <span class="step">13</span>
        <span class="step">14</span>
        <span class="step">15</span>
        <span class="step">16</span>
        <span class="step">17</span>
    </div>
<br />

<script>
    var n = @Model;
    var x = document.getElementsByClassName("step");
    x[n].className += " active";
</script>