@page
@model NewEmploymentSystem.Pages.Level10.IndexModel
@{
    ViewData["Title"] = "Index";
}

    <form class="contact3-form" method="post">
        <span class="contact3-form-title">
            <i class="fa fa-2x fa fa-cogs"></i>
            <br />
            مرحله ثبت سوابق پزشکی
        </span>

        <div class="container-contact3-form-btn">
            <span class="placeholderEx">آیا سیگاری هستید؟</span>
            <a class="contact3-form-btn" asp-page="SkillField">خیر</a>
            <button type="submit" class="contact3-form-btn">
                بله
            </button>
        </div>

    </form>

