@page
@model NewEmploymentSystem.Pages.Level10.IndexModel
@{
    ViewData["Title"] = "مرحله ثبت سوابق پزشکی";
}

<partial name="_Steps" model="@ViewData["Level"]" />

<script>
    localStorage.removeItem("sd10");
    localStorage.removeItem("ed10");
</script>

<form class="contact3-form validate-form" method="post">
    <span class="contact3-form-title">
        <i class="fa fa-2x fa fa-medkit"></i>
        <br />
        مرحله ثبت سوابق پزشکی
    </span>
    <span> سوابق پزشکی اضافه شده:</span>
    <ul class="list-group">
        @foreach (var item in Model.tblMedicalRecords)
        {
            <li class="list-group-item">@item.Disease</li>
        }
    </ul>

    <div class="container-contact3-form-btn">
        <a class="contact3-form-btn" asp-page="AddMedicalRecord">افزودن جدید</a>
        <div class="container-contact3-form-btn">
            <button type="submit" class="contact3-form-btn">
                سوالات بعدی
            </button>
        </div>
    </div>

</form>