@page
@model NewEmploymentSystem.Pages.Level4.AddAnotherLeaveReasonModel
@{
    ViewData["Title"] = "مرحله ثبت سوابق شغلی";
}

<form class="contact3-form validate-form">
    <span class="contact3-form-title">
        <i class="fa fa-2x fa fa-briefcase"></i>
        <br />
        مرحله ثبت سوابق شغلی
    </span>


    <div>
        <span class="placeholderEx">آیا مایل به افزودن دلیل دیگری هستید؟</span>
    </div>


    <a class="contact3-form-btn mt-1" asp-page="AddWorkLeaveReasonPercent">بلی</a>

    <a class="contact3-form-btn mt-1" asp-page="Index">خیر</a>

</form>

