@page
@model NewEmploymentSystem.Pages.Level4.AddExperienceFieldModel
@{
    ViewData["Title"] = "مرحله ثبت سوابق شغلی";
}

<form onsubmit="return validateForm()" name="myForm" class="contact3-form" method="post">
    <span class="contact3-form-title">
        <img height=80 width=80 src="/images/icons/workexperience.png">
        <br />
        مرحله ثبت سوابق شغلی
    </span>

    <div class="wrap-input3">
        <span style="display:none" class="field-validation-error" id="pcal1error">این فیلد اجباری است</span>
        <span style="display:none" class="field-validation-error" id="pcal2error">فقط از حروف فارسی استفاده کنید</span>
        <input class="input3 justPersian" type="text" name="ExperienceTitle" placeholder="عنوان شغل خود را وارد کنید(فقط حروف فارسی)">
        <span class="focus-input3"></span>
    </div>

    <div class="wrap-input3">
        <span class="placeholderEx">وضعیت شغلی</span><br />
        <input type="radio" id="false" name="IsWorking" value="false" checked="checked">
        <label for="false">دیگر شاغل نیستم</label><br>
        <input type="radio" id="true" name="IsWorking" value="true">
        <label for="true">هنوز شاغل هستم</label><br>
    </div>

    <div class="container-contact3-form-btn">
        <button type="submit" class="contact3-form-btn">
            ثبت
        </button>
    </div>

</form>

<script>
    function validateForm() {
        var text = document.forms["myForm"]["ExperienceTitle"].value;
        if (text == "" || text.length < 2) {
            $("#pcal1error").css("display", "block");
            return false;
        }
        if (!persianRex.text.test(text)) {
            $("#pcal2error").css("display", "block");
            return false;
        }
    }
</script>