@page
@model NewEmploymentSystem.Pages.Level6.AddJobModel
@{
    ViewData["Title"] = "مرحله ثبت شغل";
}


    <form method="post" class="contact3-form validate-form">
        <span class="contact3-form-title">
            <i class="fa fa-2x fa fa-suitcase"></i>
            <br />
            مرحله ثبت شغل
        </span>

        <div class="wrap-input3 input3-select">
            <div>
                <span class="placeholderEx">شغل مورد نظر خود را انتخاب کنید</span>
                <select id="jobsel" asp-for="userJob.JobsId" asp-items="ViewBag.JobId" class="selection-2" onchange="showdetails()"></select>
            </div>
        </div>

        <div class="input3-select">
            <div>
                <span class="placeholderEx">توضیحات</span>
                <div class="alert alert-info" id="details"></div>
            </div>
        </div>

        <div class="wrap-input3 validate-input" data-validate="این فیلد اجباری است">
            <span asp-validation-for="userJob.JobTitle"></span>
            <input asp-for="userJob.JobTitle" class="input3" placeholder="شغل مورد نظر خود را وارد کنید">
            <span class="focus-input3"></span>
        </div>

        <div class="wrap-input3 validate-input" data-validate="این فیلد اجباری است">
            <span asp-validation-for="userJob.RequestMoney"></span>
            <input type="number" asp-for="userJob.RequestMoney" class="input3" placeholder="حقوق ماهانه مدنظر خود را به ریال وارد کنید">
            <span class="focus-input3"></span>
        </div>

        <div class="textwhite"><input id="moredescheckbox" type="checkbox" />توضیحات بیشتر</div><br />
        <div id="moredescription" class="wrap-input3 validate-input" data-validate="این فیلد اجباری است">
            <span asp-validation-for="userJob.Description"></span>
            <textarea class="input3" asp-for="userJob.Description" placeholder="توضیخات"></textarea>
            <span class="focus-input3"></span>
        </div>

        <div class="container-contact3-form-btn">
            <button type="submit" class="contact3-form-btn">
                ثبت
            </button>
        </div>

    </form>

<script>
    function fixNumber(str) {
        var persianNumbers = [/۰/g, /۱/g, /۲/g, /۳/g, /۴/g, /۵/g, /۶/g, /۷/g, /۸/g, /۹/g];
        var arabicNumbers = [/٠/g, /١/g, /٢/g, /٣/g, /٤/g, /٥/g, /٦/g, /٧/g, /٨/g, /٩/g];
        if (typeof str === 'string') {
            for (var i = 0; i < 10; i++) {
                str = str.replace(persianNumbers[i], i).replace(arabicNumbers[i], i);
            }
        }
        return str;
    }
    function Load() {
        $("#userJob_RequestMoney").keyup(function () {
            $("#userJob_RequestMoney").val(fixNumber($("#userJob_RequestMoney").val()));
        });
        showdetails();
    }

    function showdetails() {
        var data = { id: $("#jobsel :selected").val() };
            $.ajax({
                type: "GET",
                url: "?handler=Des",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                async: true,
                data: data,
                success: function (response) {
                    $("#details").empty();
                    $("#details").append(response);
                },
                failure: function () {
                    alert("Error on get jobs");
                }
            });
    }
</script>