@page
@model NewEmploymentSystem.Pages.Level6.IndexModel
@{
    ViewData["Title"] = "مرحله ثبت شغل";
}

<partial name="_Steps" model="@ViewData["Level"]" />

<form method="post" class="contact3-form validate-form">
    <span class="contact3-form-title">
        <i class="fa fa-2x fa fa-suitcase"></i>
        <br />
        مرحله ثبت شغل درخواستی
    </span>
    <span>شغل های اضافه شده:</span>
    <ul class="list-group">
        @foreach (var item in Model.userJob)
        {
            <li class="list-group-item">@item.JobTitle</li>
        }
    </ul>

    <div class="container-contact3-form-btn">

        <a class="contact3-form-btn" asp-page="AddJob">افزودن جدید</a>

        @if (Model.userJob.Any())
        {
            <button type="submit" class="contact3-form-btn mt-1">سوالات بعدی</button>
        }

    </div>

</form>