@page
@model NewEmploymentSystem.Pages.Level13.IndexModel
@{
    ViewData["Title"] = "مرحله ثبت خلاقیت و نوآوری ها";
}

<partial name="_Steps" model="@ViewData["Level"]" />

<script>
    localStorage.removeItem("gd1");
</script>

<form class="contact3-form validate-form" method="post">
    <span class="contact3-form-title">
        <i class="fa fa-2x fa-trophy"></i>
        <br />
        مرحله ثبت خلاقیت و نوآوری ها
    </span>

    @if (Model.tblUserCreativity.Any())
    {
        <span> خلاقیت و نوآوری های اضافه شده:</span>
        <ul class="list-group">
            @foreach (var item in Model.tblUserCreativity)
            {
                <li class="list-group-item">@item.Title</li>
            }
        </ul>
    }


    <div class="container-contact3-form-btn">
        @if (Model.tblUserCreativity.Any())
        {
        <a class="contact3-form-btn" asp-page="AddCreativity"> افزودن خلاقیت یا نوآوری جدید</a>
            <div class="container-contact3-form-btn">
                <button type="submit" class="contact3-form-btn">
                    خلاقیت یا نوآوری دیگری ندارم
                </button>
            </div>
        }
        else
        {
            <a class="contact3-form-btn" asp-page="AddCreativity">افزودن خلاقیت یا نوآوری </a>
            <div class="container-contact3-form-btn">
                <button type="submit" class="contact3-form-btn">
                    خلاقیت یا نوآوری ندارم
                </button>
            </div>
        }

    </div>

</form>