@page
@model NewEmploymentSystem.Pages.Level12.IndexModel
@{
    ViewData["Title"] = "مرحله ثبت سوابق عمومی";
}

<partial name="_Steps" model="@ViewData["Level"]" />

<form class="contact3-form validate-form" method="post">
    <span class="contact3-form-title">
        <i class="fa fa-2x fa-history"></i>
        <br />
        مرحله ثبت سوابق عمومی
    </span>

    @if (Model.tblGeneralRecord.Any())
    {
        <span> سوابق عمومی اضافه شده:</span>
        <ul class="list-group">
            @foreach (var item in Model.tblGeneralRecord)
            {
                <li class="list-group-item">@item.CriminalTiltle</li>
            }
        </ul>
    }


<div class="container-contact3-form-btn">
    @if (Model.tblGeneralRecord.Any())
    {
        <a class="contact3-form-btn" asp-page="AddGeneralRecord">افزدون سابقه جدید</a>
        <div class="container-contact3-form-btn">
            <button type="submit" class="contact3-form-btn">
                سابقه دیگری ندارم
            </button>
        </div>
    }
    else
    {
        <a class="contact3-form-btn" asp-page="AddGeneralRecord">افزودن سابقه</a>
        <div class="container-contact3-form-btn">
            <button type="submit" class="contact3-form-btn">
                سابقه ای ندارم
            </button>
        </div>
    }

</div>

</form>